<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="./css/resetpassword.css">
    <script src="https://kit.fontawesome.com/1ddaf0e4fa.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <header>
            <a href="#" class="logo">FITM</a>
            <ul>
                <li v-if="statusAdmin" style="font-size: larger;">{{ userData.adminName }}<i class="fa-solid fa-user" style="padding-left: 10px;"></i></li>
                <li v-if="!statusAdmin" style="font-size: larger;">{{ userData.teacherName }}<i class="fa-solid fa-user" style="padding-left: 10px;"></i></li>
            </ul>
        </header>
        <div class="container">
            <div class="navigation">
                <ul>
                    <li>
                        <a href="studentData.html">                       
                            <span class="icon"><i class="fa-solid fa-chart-simple"></i></span>
                            <span class="title">ฐานข้อมูลนักศึกษา</span>
                        </a>
                    </li>
                    <li v-if="statusAdmin">
                        <a href="teacherData.html">                       
                            <span class="icon"><i class="fa-solid fa-chart-simple"></i></span>
                            <span class="title">ฐานข้อมูลผู้ใช้งาน</span>
                        </a>
                    </li>
                    <li id="make">
                        <a href="resetPassword.html">
                            <span class="icon"><i class="fa-solid fa-key"></i></span>
                            <span class="title">ตั้งค่ารหัสผ่าน</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" @click.prevent="onLogout()">
                            <span class="icon"><i class="fa-solid fa-gear"></i></span>
                            <span class="title">ออกจากระบบ</span>    
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="bor">
            <div class="reset">
                <h2>เปลี่ยนรหัสผ่านผู้ใช้งาน {{ teacherIdData.teacherName }}</h2>
                <div v-if="!statusAdmin">
                    <table>
                        <tr>
                            <td>
                                <label for="oldPassword">Old Password:</label>
                            </td>
                            <td>
                                <input v-model="form.oldPassword" type="password" name="oldPassword" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="newPassword">New Password:</label>
                            </td>
                            <td>
                                <input v-model="form.newPassword" type="password" name="newPassword" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="confirmPassword">Confirm Password:</label>
                            </td>
                            <td>
                                <input v-model="form.confirmPassword" type="password" name="confirmPassword" required>
                            </td>
                        </tr>
                    </table>
                    <button class="button3" @click="onReset()">บันทึก</button>
                </div>
                
                <div v-if="statusAdmin">
                    <table>
                        <tr>
                            <td>
                                <label for="newPassword">New Password:</label>
                            </td>
                            <td>
                                <input v-model="form.newPassword" type="password" name="newPassword">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="confirmPassword">Confirm Password:</label>
                            </td>
                            <td>
                                <input v-model="form.confirmPassword" type="password" name="confirmPassword" required>
                            </td>
                        </tr>
                    </table>
                    <button class="button3" @click="updatePassword()">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        Vue.createApp({
            async created() {
                await this.checkSession();
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                const id_param = urlParams.get('data');
                await this.getTeacherById(id_param);
            },
            data() {
                return {
                    form: {
                        oldPassword: '',
                        newPassword: '',
                        confirmPassword: ''
                    },
                    statusAdmin: false,
                    userData: [],
                    teacherIdData: []
                }
            },
            methods: {
                async checkSession() {
                    await axios.get('http://registration.app.ruk-com.cloud/checkSession').then(res => {
                        if(!res.data.status) location.href = "./login.html";
                        this.userData = res.data.value.user;
                        this.statusAdmin = res.data.value.statusAdmin;
                    }).catch(err => {
                        console.log(err);
                    });
                },
                async getTeacherById(id) {
                    await axios.get('http://registration.app.ruk-com.cloud/Teacher/' + id).then(res => {
                        this.teacherIdData = res.data;
                    }).catch(err => {
                        console.log(err);
                    });
                },
                onLogout() {
                    axios.get('http://registration.app.ruk-com.cloud/logout').then(res => {
                        alert(res.data.message);
                        location.href = "./login.html";
                    }).catch(err => {
                        console.log(err);
                    });
                },
                async onReset() {
                    if(this.form.newPassword === this.form.confirmPassword) {
                        await axios.get(`http://registration.app.ruk-com.cloud/Teacher/${this.teacherIdData._id}`)
                        .then((res) => {
                            if(res.status === 200) {
                                console.log('ข้อมูลตอบกลับ', res.data);
                                if (res.data.password === this.form.oldPassword) {
                                    this.updatePassword();
                                };
                            } else {
                                alert('รหัสผ่านเก่าไม่ถูกต้อง');
                            };
                        }).catch((err) => {
                            console.log(err);
                        });
                    } else {
                        alert('รหัสผ่านใหม่ไม่ตรงกัน');
                    };
                },
                async updatePassword() {
                    if(this.form.newPassword === this.form.confirmPassword) {
                        await axios.patch(`http://registration.app.ruk-com.cloud/Teacher/${this.teacherIdData._id}`, {
                            password: this.form.newPassword
                        }).then((res) => {
                            if(res.status === 200) {
                                alert(`เปลี่ยนรหัสผ่านของผู้ใช้งาน: ${this.teacherIdData.teacherName} สำเร็จ`);
                                location.href = './teacherData.html';
                            }
                        }).catch((err) => {
                            alert('เกิดข้อผิดพลาด: '+ err);
                            console.log(err);
                        });
                    } else {
                        alert('รหัสผ่านใหม่ไม่ตรงกัน');
                    };
                }
            }
        }).mount('#app');
    </script>
</body>
</html>